<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    XIN CHÀO KHÁCH HÀNG {{customer}} <br />
    HỆ THỐNG BÁN HÀNG SHOP MÌNH XIN GỬI TẶNG BẠN VOUCHER <br />
    Giftcode: {{giftcode}} - Sale:{{phantram}}% <br />
    Hạn sử dụng {{date}} <br />
    CẢM ƠN BẠN ĐÃ LUÔN ĐỒNG HÀNH VÀ ỦNG HỘ SẢN PHẨM CỦA SHOP <br />
    <br />
    -------------------------------------------------------
    <br />
    WELCOME CUSTOMERS {{customer}}<br />
    SHOP SALE SYSTEM WE PLEASE SEND YOU VOUCHER <br />
    Giftcode: {{giftcode}} - Sale :{{phantram}}% <br />
    Expiration Date {{date}} <br />
    THANK YOU FOR ALWAYS COMPACTING AND SUPPORTING THE SHOP'S PRODUCTS<br />
</body>
</html>