*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    user-select: none;scroll-behavior: smooth;
   
}

body{
    background-color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    
    
   
}
p{
    color:#150303;
    font-size: 14px;
}
span{
    font-size: 12px;
    color:#606060;
}
a{
    text-decoration: none;
    color: unset;
    display: inline-block;
    font-weight: 500;
    font-size: 14px;
}
ul,li{
    list-style: none;
}
img{
    max-width: 100%;
    display: block;
}
p,h1{
    z-index: 1 !important;
}