@media only screen and (max-width:650px){
 .list1-content{
     width: 100% !important;
 }
 .title-media{
     display: none !important;
 }
 .header-top-right-1{
     margin-left: -130px !important;
 }
 .header-top-left{
     width: 100% !important;
     padding: 0 10px;
 }
 .header-top-right{
     padding: 0 10px !important; 
 }
 .header-media{
     display: flex !important;
     justify-content: space-between !important;
     
 }
 .header-media-item1 i{
     color: #fff !important;
     font-size: 20px !important;
 }
 .header-media-item1{
     margin-top: 10px !important;
     padding: 0 20px !important;
 }
 .header-media-item2{
     margin-left: 40px !important;
 }
 .media-icon{
     margin-top: 40px !important;
     margin-left: 40px !important;
 }
 .header-center-right-item-dropdown2{
     margin-left: -330px !important;
     margin-top: 40px !important;
     
 }
 .header-center-right-item-dropdown2::before{
    content: "" !important;
    border-width:20px 20px !important;
    border-style: solid !important;
    border-color: transparent transparent #fff transparent !important;
    position: absolute !important;
    right: 0px !important;
}
.note-item2{
    margin-top: 0px !important;
   
}
.note-item{
    margin-left: -135px !important;
}
.header-center-left{
    display: none !important;
}
.header-center-right{
    display: none !important;
}
.header-center-center-select{
    display: none !important;
}
.header-center-center-input input{
    width: 320px !important;
}
.header-center-center{
    width: 100% !important;
}
.header-center-center-input-search{
    margin-left: 270px !important;
}
.header-center-center-bottom-item{
    font-size: 12px !important;
}
.list-menu{
    display: none !important;
}
.footer-content1{
    width: 100% !important;
    display: block !important;

}
.footer-content1-item{
    width: 100% !important;
    border-bottom: 1px solid #ccc !important;
    padding: 10px !important;
}
.video-contents{
    display: block !important;
}
.video-content{
    width: 100% !important; 
}
.banner-qc1{
    width: 100%  !important;
    height:50px !important;
}
.banner-qc1 img{
    width: 100% !important;
    height: 100%  !important;
}
.media-footer{
    display: none !important;
}
.modal-content{
    width: 100% !important;
}

.video-content-item iframe{
    width: 100% !important
    
}
.title2{
    display: none !important;
}
.video-content-title{
    padding: 10px !important;
}
.product_bycate_hot{
    padding: 10px !important;
}
.header-top-right-dropdown{
    margin-left: -360px !important;
}
.modal_detail_product{
    display: none !important; 
}
}