
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Layout/LoginRegisterLayout.cshtml";
}

<div class="container">
    <div class="d-flex justify-content-center h-100">
        <div style="height: 370px;" class="card">
            <div class="card-header">
                <h3>Đăng nhập</h3>
                <div class="d-flex justify-content-end social_icon">
                    <span><i class="fab fa-facebook-square"></i></span>
                    <span><i class="fab fa-google-plus-square"></i></span>
                    <span><i class="fab fa-twitter-square"></i></span>
                </div>
            </div>
            <div class="card-body">
                @using (Html.BeginForm())
                {
                    <form>
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-user"></i></span>
                            </div>
                            <input type="text" class="form-control" placeholder="tài khoản" name="tai_khoan" id="tai_khoan">

                        </div>
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-key"></i></span>
                            </div>
                            <input type="password" class="form-control" placeholder="mật khẩu" name="mat_khau" id="mat_khau">
                        </div>
                        <div class="row align-items-center remember">
                            <input type="checkbox">Lưu lại
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Đăng nhập" class="btn float-right login_btn">
                            <p style="color:red">@ViewBag.ThongBao</p>
                        </div>
                    </form>
                }
            </div>
            <div class="card-footer">
                <div class="d-flex justify-content-center links">
                    Bạn chưa có tài khoản?<a href="@Url.Action("Register","LoginRegister")">Đăng kí</a>
                </div>
                <div class="d-flex justify-content-center">
                    <a href="@Url.Action("ResetPassword","LoginRegister")">Bạn quên mật khẩu?</a>
                </div>
            </div>
        </div>
    </div>
</div>

