
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Layout/LoginRegisterLayout.cshtml";
}
<div class="container">
    <div class="d-flex justify-content-center h-100">
        <div style="height: 550px;" class="card">
            <div class="card-header">
                <h3>Đăng kí</h3>
                <div class="d-flex justify-content-end social_icon">
                    <span><i class="fab fa-facebook-square"></i></span>
                    <span><i class="fab fa-google-plus-square"></i></span>
                    <span><i class="fab fa-twitter-square"></i></span>
                </div>
            </div>
            @using (Html.BeginForm())
            {
                <div class="card-body">
                    <form>
                        <!-- Username -->
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-user"></i></span>
                            </div>
                            <input type="text" class="form-control" placeholder="tài khoản" name="user_name" id="user_name">
                            @*@Html.EditorFor(model => model.tai_khoan, new { htmlAttributes = new { @class = "form-control",placeholder="tài khoản", id="user_name", name="user_name"}  })*@
                        </div>
                        <!-- Password -->
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-key"></i></span>
                            </div>
                            <input type="password" class="form-control" placeholder="mật khẩu" name="passwd">
                        </div>
                        <!-- Họ tên -->
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fa-solid fa-file-signature"></i></span>
                            </div>
                            <input type="text" class="form-control" placeholder="họ tên" name="hoten">
                        </div>
                        <!-- Ngày tháng năm sinh -->
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fa-solid fa-calendar-days"></i></span>
                            </div>
                            <input type="date" class="form-control" placeholder="ngày sinh" name="ngaysinh">
                        </div>
                        <!-- SĐT -->
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fa-solid fa-phone"></i></span>
                            </div>
                            <input type="tel" class="form-control" placeholder="só điện thoại" name="sdt">
                        </div>
                        <!-- Địa chỉ -->
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fa-solid fa-map-location"></i></span>
                            </div>
                            <input type="text" class="form-control" placeholder="địa chỉ" name="diachi">
                        </div>
                        <!-- Email -->
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fa-solid fa-envelope"></i></span>
                            </div>
                            <input type="email" class="form-control" placeholder="email" id="register_email" name="register_email">
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Đăng kí" class="btn float-right login_btn">
                        </div>
                        <div class="form-group">
                            <p style="color:red">@ViewBag.ThongBao</p>
                        </div>
                    </form>
                </div>
            }
        </div>
    </div>
</div>